$default_border: 1px solid black;
$plex-sans: 'IBM Plex Sans', sans-serif;
$plex-serif: 'IBM Plex Serif', serif;
$plex-mono: 'IBM Plex Mono', monospace;


$red: #d65e5e;
$gray: #dddddd;
$light_gray: #8e8e8e;
